#join {
    margin: 0 auto;
    width: 600px;
}

.join__container,
.join__btn {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 -1px 12px var(--color-gray);
    background-color: var(--color-yellow);
    background-image: url(https://www.transparenttextures.com/patterns/always-grey.png);
}

.join__title {
    font-weight: bold;
    font-size: 50px;
    color: black;
    text-align: center;
    padding-top: 50px;
}

.join__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 260px;
}

.join__input {
    width: 200px;
    height: 38px;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 12px;
}

.join__input:focus {
    outline-style: none;
    box-shadow: 0 0 3pt 2pt red;
}

.join__btn {
    margin-top: 20px;
    font-size: 30px;
    border: none;
    height: 120px;
    cursor: pointer;
}

.join__anchor_txt {
    font-size: 39px;
    font-weight: bold;
}

@media (max-width: 600px) {
    #join {
        width: 100%;
    }
}