@import '../../App.css';

#landing {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  width: 100%;
  min-height: calc(100vh - 150px);
}

/*  BUTTONS TO START GAME */

.start-game-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-height: 300px;
  padding: 0;
  margin: 0 auto;
}

.start-game-button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 1em;
  margin: 1em auto;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 1em;
  font-family: var(--font);
  font-size: 1em;
}

.button-words {
  padding: 0;
  margin: 0;
}

/* HOW TO HOST GAME */

.how-to-host {
  display: grid;
  grid-template-columns:[htc1] 4fr [htc2] 1fr [htc3] 4fr [htc4];
  grid-template-rows: [htr1] 30px [htr2] 4fr [htr3] 1fr [htr4] 3fr [htr5] 1fr [htr6] 4fr [htr7];
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  height: 400px;
  padding: 1em;
  margin: 0 auto;
  background-color: var(--color-main);
}

.hth-header {
  grid-column: htc1 / htc4;
  grid-row: htr1 / htr2;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
}

.how-to-box {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  box-shadow: 2px 2px 10px #000;
  text-align: center;
}

.how-to-box>p {
  padding-left: 1.5em;
}

.htb-num {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0.1em;
  margin: 0;
  font-size: 3.5em;
  color: #fff;
  background-color: var(--color-main);
}

.b1 {
  grid-column: htc1 / htc3;
  grid-row: htr2 / htr4;
  margin-left: 1em;
}

.b2 {
  grid-column: htc2 / htc4;
  grid-row: htr3 / htr6;
}

.b3 {
  grid-column: htc1 / htc3;
  grid-row: htr5 / htr7;
}

/* GAMEPLAY EXAMPLE */

.gameplay-example {
  height: 400px;
}
