@import '../../App.css';

/* Common Styling */

.b-s {
  box-shadow: 0 -1px 12px var(--color-gray);
}

#landing {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  display: grid;
  grid-template-columns: [lc1] 1fr [lc2];
  grid-template-rows: [lcr1] 100px [lcr2] 1fr [lcr3];
  width: 100%;
  min-height: calc(100vh - 150px);
}

/* VIEW BUTTON BOXES */

#view-button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.button-box {
  width: 100%;
  height: 100%;
  background-color: var(--color-gray);
  border-bottom: 3px solid var(--color-gray);
}

.button-box:nth-of-type(even) {
  border-left: 3px solid var(--color-gray);
}

.button-box>i {
  padding: 0.4em;
  color: #fff;
  background-color: var(--color-gray);
  border: 2px solid #fff;
  border-radius: 50%;
}

.sel {
  background-color: #000;
}

.sel>i {
  color: #000;
  background-color: var(--color-gray);
  background-image:radial-gradient(
    var(--color-yellow),
    var(--color-orange),
    var(--color-red) 80%,
    var(--color-gray)
    );
  border: 2px solid #fff;
}

/* VIEW CONTAINER */

.view-container {
  display: grid;
  grid-template-columns: [vcc1] 1fr [vcc2];
  grid-template-rows: [vcr1] 1fr [vcr2];
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.shift-left {
  transform: translate3d( -600px, 0, 0);
}

.shift-right {
  transform: translate3d( 600px, 0, 0);
}

/* GAMEPLAY EXAMPLE */

.ge-container {
  grid-column: vcc1 / vcc2;
  grid-row: vcr1 / vcr2;
  width: 100%;
  background-color: #fff;
  transition-duration: 400ms;
}

.gameplay-example {
  display: grid;
  grid-template-columns:[gec1] 1fr [gec2];
  grid-template-rows: [gerheader] 50px [ger1] 180px [ger2] 20px [ger3] 160px [ger4] 20px [ger5] 180px [ger6];
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  height: 600px;
  padding: 0;
  margin: 2em 0;
}

.ge-header {
  grid-column: gec1 / gec2;
  grid-row: gerheader / ger1;
  width: 100%;
  padding: 0;
  margin: 0 0 1em 0;
  font-family: var(--font-header);
  font-size: 1.2em;
  background-color: #fff;
}

.geb1 {
  grid-column: gec1 / gec2;
  grid-row: ger1 / ger3;
}

.geb2 {
  grid-column: gec1 / gec2;
  grid-row: ger2 / ger5;
}

.geb3 {
  grid-column: gec1 / gec2;
  grid-row: ger4 / ger6;
}

.ge-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: var(--color-yellow);
  color: #fff;
}

.ge-description {
  width: 120px;
  height:120px;
  text-align: center;
  padding: 0.5em;
  margin: 0 0 0 1em;
  font-size: 1.1em;
  font-variant: small-caps;
  background-color: var(--color-gray);
  background-image:radial-gradient(
    var(--color-yellow),
    var(--color-orange),
    var(--color-red) 80%,
    var(--color-gray)
    );
  border: 2px solid #fff;
  color: #000;
  border-radius: 50%;
}

.geb2>div {
  align-self: flex-end;
  margin: 0 1em 0 0;
}


/*  BUTTONS TO START GAME */

.start-game-container {
  grid-column: vcc1 / vcc2;
  grid-row: vcr1 / vcr2;
  width: 100%;
  transition-duration: 400ms;
}

.start-game-section {
  width: 100%;
  max-height: 300px;
  padding: 0 0 2em 0;
  margin: 1em 0;
  background-color: var(--color-gray);
  border-bottom: 2px solid var(--color-gray);
}

.start-game-section>h4 {
  padding: 1em 0;
  margin: 0;
  color: #fff;
  font-family: var(--font-header);
  font-size: 1.2em;
}

.start-game-button {
  width: 300px;
  height: 74px;
  padding: 0;
  margin: 1em 0;
  background-color: var(--color-yellow);
  color: #000;
  border: 2px solid #fff;
  border-radius: 1em;
  font-family: var(--font);
  font-size: 1em;
}

.start-game-button:hover {
  background-color: #000;
  color: #fff;
}

.browse-button {
  padding: 0;
  margin-top: 2em;
  background-color: #000;
  color: #fff;
  border: 1px solid var(--color-orange);
  border-radius: 1em;
}

.browse-button>p {
  padding: 0.6em;
}

/* HOW TO HOST GAME */

.hth-container {
  width: 100%;
}

.how-to-host {
  display: grid;
  grid-template-columns:[htc1] 4fr [htc2] 1fr [htc3] 4fr [htc4];
  grid-template-rows: [htr1] 50px [htr2] 4fr [htr3] 1fr [htr4] 3fr [htr5] 1fr [htr6] 4fr [htr7];
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  padding: 1em;
  margin: 0 auto;
}

.hth-header {
  grid-column: htc1 / htc4;
  grid-row: htr1 / htr2;
  width: 100%;
  height: 30px;
  font-family: var(--font-header);
  font-size: 1.1em;
  background-color: #fff;
  color: #000;
}

.how-to-box {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow);
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");;
  color: #000;
  text-align: center;
}

.how-to-box>p {
  padding-left: 1.5em;
}

.htb-num {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0.1em;
  margin: 0;
  font-size: 3em;
  color: #000;
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");;
}

.htb1 {
  grid-column: htc1 / htc3;
  grid-row: htr2 / htr4;
  margin-left: 1em;
}

.htb2 {
  grid-column: htc2 / htc4;
  grid-row: htr3 / htr6;
}

.htb3 {
  grid-column: htc1 / htc3;
  grid-row: htr5 / htr7;
}

.lrg-scrn-icon {
  display: none;
}

.info-close {
  display: none;
}


/*  MEDIA QUERIES  */

@media only screen and (min-width:600px) {

  #landing {
    grid-template-rows: [lcr2] 1fr [lcr3];
  }

  #view-button-container {
    display: none;
  }

  .view-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: none;
    min-height: none;
  }

  .shift-left {
    transform: translate3d( 0, 0, 0);
  }

  .shift-right {
    transform: translate3d( 0, 0, 0);
  }

  .lrg-scrn-icon {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 20px;
    height: 15px;
    padding: 0.4em;
    color: var(--color-gray;);
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 5px var(--color-gray);
    text-align: center;
    transition-duration: 200ms;
    z-index: 3;
  }

  .lrg-scrn-icon:hover {
    color: #fff;
    box-shadow: 1px 1px 10px var(--color-gray);
  }

  .info-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: transparent;
    color: #fff;
    border: none;
    width: 100px;
  }

  /* DROP DOWN HOW-TO */

  .shift-up {
    transform: translate3d( 0, -800px, 0);
  }

  .ge-container {
    position: absolute;
    top: 100px;
    width: 100%;
    margin: 0 auto;
    background-color: #000000d5;
    z-index: 2;
  }

  .gameplay-example {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    height: 700px;
    margin: 0 auto;
  }

  .ge-header {
    font-size: 2.2em;
    background-color: transparent;
    color: #fff;
  }

  .ge-box {
    width: 600px;
    margin: 1em auto;
  }

  /*  BUTTONS TO START GAME */

  .start-game-section {
    margin: 0;
  }

  /* HOW TO HOST GAME */

  .how-to-host {
    max-width: 700px;
    height: 700px;
  }

}
