@import '../../App.css';

#landing {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  width: 100%;
  min-height: calc(100vh - 150px);
}

/*  BUTTONS TO START GAME */

.start-game-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-height: 300px;
  padding: 0;
  margin: 0 auto;
}

.start-game-button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 1em;
  margin: 1em auto;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 1em;
  font-family: var(--font);
  font-size: 1em;
}

.button-words {
  padding: 0;
  margin: 0;
}

/* HOW TO HOST GAME */

.how-to-host {
  display: grid;
  grid-template-columns:[htc1] 4fr [htc2] 1fr [htc3] 4fr [htc4];
  grid-template-rows: [htr1] 4fr [htr2] 1fr [htr3] 3fr [htr4] 1fr [htr5] 4fr [htr6];
  box-sizing: border-box;
  width: 100%;
  padding: 1em 0 1em 1em;
  background-color: var(--color-main);
}

.how-to-box {
  position: relative;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.5em;
}

.htb-num {
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 0;
  margin: 0;
  font-size: 4em;
  color: var(--color-main);
}

.b1 {
  grid-column: htc1 / htc3;
  grid-row: htr1 / htr3;
  margin-left: 1em;
}

.b2 {
  grid-column: htc2 / htc4;
  grid-row: htr2 / htr5;
}

.b3 {
  grid-column: htc1 / htc3;
  grid-row: htr4 / htr6;
}
