#leaderBoard {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 600px;
}
.lb__btn,
.lb__banner,
.lb__container {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 -1px 12px var(--color-gray);
  background-color: var(--color-yellow);
  background-image: url(https://www.transparenttextures.com/patterns/always-grey.png);
}
.lb__title {
  font-weight: bold;
  font-size: 50px;
  color: black;
  text-align: center;
  margin: 25px
}
.lb__inspire_txt {
  font-weight: 600;
  font-size: 36px;
  color: black;
  text-align: center;
  margin: 25px
}
.lb__ol {
  counter-reset: leaderboard;
  padding-left: 0;
  list-style: none;
  width: 65%;
  margin: 40px auto;
}
.lb__li {
  position: relative;
  font-size: 25px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.lb__li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #c24448;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}
.lb__li::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fa6855;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.lb__li mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #fff;
}
.lb__li mark::before,
.lb__li mark::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -9px;
  border-top: 10px solid #c24448;
  border-left: 10px solid transparent;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}
.lb__li mark::after {
  left: auto;
  right: -9px;
  border-left: none;
  border-right: 10px solid transparent;
}
.lb__li small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
  color: white;
}
.lb__li:first-child {
  background: #11862a;
  border-radius: 10px 10px 0px 0px;
}
.lb__li:first-child::after {
  background: #11862a;
}
.lb__li {
  background: #1a659a;
}
.lb__li::after {
  background: #1a659a;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
}
.lb__li mark::before,
.lb__li mark::after {
  border-top: 6px solid #ba4741;
  bottom: -7px;
}
.lb__li:last-child {
  background: #c24448;
  border-radius: 0 0 10px 10px;
}
.lb__li:last-child::after {
  background: #c24448;
  box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 10px 10px;
}
.lb__li:last-child mark::before,
.lb__li:last-child mark::after {
  top: -9px;
  bottom: auto;
  border-top: none;
  border-bottom: 8px solid #993639;
}
.lb__li:hover {
  z-index: 2;
  overflow: visible;
}
.lb__li:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1.06) scaleY(1.03);
  transform: scaleX(1.06) scaleY(1.03);
}
.lb__banner {
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: 25px;
}
.lb__btn {
  margin-top: 20px;
  font-size: 30px;
  border: none;
}
.lb__btn-anchor {
  color: white;
  text-decoration: none;
}
.lb__anchor_txt {
  font-size: 39px;
  font-weight: bold;
}
