#instructions {
    background-color: #fff;
    max-width: 100%;
    display: grid;
}

.instructions-header {
  background-color: #000;
  color: #A9C4EA;
  font-size: 1.5em;
  padding: 30px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.steps-title {
  font-size: 1.2em;
  text-align: center;
}

.steps-list {
  counter-reset: my-counter;
  list-style: none;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-inline-start: 0;
}
.steps-list li {
  counter-increment: my-counter;
  position: relative;
  border: 1px solid black;
  border-radius: 15px;
  height: 100px;
  margin: 25px;
  display: table;
  width: 100%;
}


.steps-list li p {
  margin-block-end: 0;
  margin-block-start: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding: 0 2% 0 18%;
}

ol li::before {
  content: counter(my-counter);
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 100px;
  left: calc(-1 * var(--size) + 45px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: -.5px;
  background: #A9C4EA;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}

.join-board {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: #A9C4EA;
  height: 150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.players-that-joined {
  text-align: center;
  padding: 0 3%;
  margin-left: auto;
  margin-right: auto;
}

.start-game-btn {
  background-color: white;
  padding: 15px;
  margin-top: 10px;
  width: 90%;
  justify-self: center;
}

/************************
* Media Queries
************************/
/***medium screens****/
@media screen and (min-width: 650px) {
  .steps-title {
    text-align: left;
    padding-left: 7%;
  }
  .steps-list li p {
    padding: 0 5% 0 13%;
  }
  .start-game-btn {
    width: 40%;
    margin-right: 7%;
    justify-self: end;
  }
}

/***large screens****/
@media screen and (min-width: 650px) {
  .steps-title {
    text-align: left;
    padding-left: 9%;
  }
  .steps-list li p {
    padding: 0 5% 0 10%;
  }
  .start-game-btn {
    width: 25%;
    margin-right: 8%;
    justify-self: end;
  }
}
