@import '../../App.css';

/* Common Styles */

.orange {
  color: var(--color-orange);
}


#host-userName-form {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000d5;
    z-index: 3;
}

.huf-input {
  min-width: 220px;
  padding: 0.4em;
  border-radius: 0.2em;
  font-size: 1.2em;
  font-family: var(--font-header);
  background-color: var(--color-gray);
  color: #fff;
  caret-color: #fff;
}

.huf-input::placeholder {
  color: var(--color-orange);
}

.huf-button {
  background-image:linear-gradient(
    var(--color-yellow),
    var(--color-orange),
    var(--color-red) 90%,
    var(--color-gray)
    );
  color: var(--color-gray);
  margin: 1em auto;
  font-size: 2em;
  border-radius: 0.2em;
}

.host-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0 0 0.6em 0;
  margin: 0 auto;
  background-color: var(--color-gray);
  background-image: linear-gradient(
    to top left,
    var(--color-gray),
    var(--color-lGray) 90%
    );
  color: #fff;
}

.host-header > h3 {
  padding: 0.3em 0;
  margin: 0;
}

.hh-subtext {
  font-size: 0.8em;
  font-family: var(--font-header);
  color: var(--color-orange);
}


/* Media Queries */

@media only screen and (min-width:600px) {

  .host-header {
    flex-flow: row nowrap;
    justify-content: center;
  }

  .host-header > h3:nth-of-type(1) {
    margin-right: 1em;
  }

  .host-header > h3:nth-of-type(2) {
    margin-right: 0.5em;
  }

  .hh-subtext {
    font-size: 0.9em;
  }

}
