@import '../../App.css';

.games {
  position: absolute;
  top: 400px;
  opacity: 0;
  width: 100%;
  min-height: 100vh;
  max-height: 1000px;
  padding: 0;
  margin: 0;
  overflow: scroll;
  background-color: #fff;
  transition-duration: 400ms;
  z-index: -1;
}

.show-games {
  top: 100px;
  opacity: 1;
  z-index: 3;
}

.games>h1 {
  max-width: 100%;
  padding-left: 0.3em;
  font-family: var(--font-header);
  font-size: 2em;
}

.games-close {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #fff;
  border: none;
  width: 100px;
  padding: 0;
  margin: 0;
}

.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
}

.game-tile:hover .gt-image {
  background-color: #000;
  color: #fff;
}

.game-tile {
  width: 200px;
  height: 250px;
  margin: 1em auto;
  box-shadow: 2px 1px 8px var(--color-gray);
}

.gt-image {
  width: 200px;
  height: 130px;
  padding: 0;
  margin: 0;
  background-color: var(--color-yellow);
  color: #000;
}

.gt-description {
  box-sizing: border-box;
  width: 200px;
  height: 120px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.gt-description>* {
  padding: 0.5em;
  margin: 0;
}

/*  MEDIA QUERIES  */

@media only screen and (min-width:600px) {
  .games {
    min-height: none;
    max-height: none;
    padding: 0;
    margin: 0;
  }
}
