.instruction-btn {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 -1px 12px var(--color-gray);
    background-color: var(--color-yellow);
    background-image: url(https://www.transparenttextures.com/patterns/always-grey.png);
    margin-top: 20px;
    font-size: 30px;
    border: none;
    display: inline-block;
}

.instruction-btn .start-game_txt {
    font-size: 39px;
    font-weight: bold;
}

.instruction-btn .start-game-btn {
    text-decoration: none;
    background-color: transparent;
    border: none;

}
