.instruction-btn {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 -1px 12px var(--color-gray);
    color: #fff;
    background-color: var(--color-gray);
    background-image:
    url(https://www.transparenttextures.com/patterns/always-grey.png),
    linear-gradient(
    to top left,
    var(--color-gray),
    var(--color-lGray) 90%
    );
    margin: 2em auto;
    border: none;
    display: inline-block;
}

.instruction-btn .start-game_txt {
  color: var(--color-yellow);
  font-size: 2em;
  font-weight: bold;
}

.instruction-btn .start-game-btn {
  text-decoration: none;
  background-color: transparent;
  border: none;
}
