/* Ensure body and app root container truly cover 100% of the screen and that the body text is our selected font unless we change it specifically */

body {
  width: 100%;
  margin: 0;
  font-family: var(--font), sans-serif, arial;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}


/* Remove decoration from links */

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}


/* Add Theme Variables here (like colors and fonts we will use throughout the project) */

:root {
  --font: 'Roboto', sans-serif;
  --font-header: 'Roboto Condensed', sans-serif;
  --color-main: #36A061;
  --color-dark: #018B39;
}


/* Setup Grid on top level div. This sets a space for the Nav and Footer and allows the center portion (1fr = all remaining space) to be used by whichever component is being shown. */

#top-level-container {
  display: grid;
  grid-template-columns: [c1] 100% [c2];
  grid-template-rows: [r1] 100px [r2] 1fr [r3] 50px [r4];
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* FOOTER */
footer {
  grid-column: c1 / c2;
  grid-row: r3 / r4;
}
