@import '../../App.css';

#nav {
  grid-column: c1 / c2;
  grid-row: r1 / r2;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--color-main);
  background-image:linear-gradient(
    to right,
    var(--color-gray),
    var(--color-dark) 40%,
    var(--color-main)
    );
  color: #fff;
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  padding: 1em 0 0 0.5em;
  margin: 0;
  font-family: var(--font-header);
}

.header {
  padding: 0;
  margin: 0;
}

.sub-header {
  padding: 0;
  margin: 0;
}

/* MEDIA QUERIES */

@media only screen and (min-width:650px) {

  #nav {
    padding-left: 2em;
  }

}
